*{
padding:0px;
margin:0px;
}

body{
  width:100%;
  background-color:#131B26;
}

#plot{
  width:inherit;
  height:inherit;
}


#moj{
  background-color:#131B26;
  margin:0 auto;
  width:500px;
  height:500px;
  border:1px #385573 solid;
}
